/* First Comment */

*{
  font-size:100%;
  margin:0;
  line-height:1;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background-color: #b5e6e4;
  color: #81aaa8;
  font-family: 'Amiri', serif;
  font-size: 14px;
  margin: 50px;
  /* background-image: url(images/leaves_pattern.png);
  background-repeat:repeat; */
}

/* Heading styles */

.title {
  font-size: 72px;
}

h1 {
  color: #0b697a;
  font-size: 36px;
  text-align: center;
  /* border-bottom: 1px solid black; */
}

/* Overriding Header Style */

header h1 {
  text-align: center;
  margin: 50px;
}

footer p {
  font-size: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin: 60px 0;
}

h3 {
  font-size: 50px;
  text-align: center;
  color: #0b697a;
  line-height: 30px;
  margin: 60px 0;

}

h4 {
  color:#81aaa8;
  font-size: 35px;
  text-align: center;
  padding: 25px;
}

p {
  line-height: 2;
  text-align: justify;
  margin:15px 0;
  font-size: 18px
}

ul, ol {
  margin: 5px 0;
  color: DarkSlateGray;
  padding: 20px;
  line-height: 2;
  font-size: 32px;
}

/* a {
  color: red;
  text-decoration: none;
} */

/* a:hover {
  color:blue;
  text-decoration: underline;
} */

a:link,
a:focus,
a:active {
  color: #1c9685;
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: grey;
}

header {
  background-color:#e8f7f6;
  color:DarkSlateGray;
  padding: 30px;
}

section {
  background-color: #e8f7f6;
  color:DarkSlateGray;
  /* border: 1px solid; */
  border: 5px solid grey;
  margin: 30px;
  padding: 30px;
}

footer {
  background-color:#81aaa8;
  color: white;
  padding: 20px;
}

/* header,
section,
footer {
  padding: 30px;
} */

img {
  width: 199px;
  height:200px;
}

.block {
  /* border-bottom: 5px solid green; */
}

.shadow {
  -webkit-box-shadow: 5px 10px 10px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 5px 10px 10px 0px rgba(0,0,0,0.3);
  box-shadow: 5px 10px 10px 0px rgba(0,0,0,0.3);
}

.round {
  border-radius: 50%;
}

.center {
  text-align: center;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.banner {
  text-align: justify;
  height: 600px;
  background-image: url(images/beach_sauna2.jpg);
  background-size: cover;
  /* background-position: center; */
}

.map {
  height: 400px;
  background-image:url(images/whis_map.png);
  background-size: cover;
}

.social-media {
text-align: justify;
}

.nav-button {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding:30px;
  line-height: 6;
  font-size: 32px;

}

.blog {
  background-color: #e8f7f6;
  color:DarkSlateGray;
  border: 5px solid grey;
  margin: 100px 200px;
  padding: 50px 100px;
}

.banner-blog {
  text-align: justify;
  height: 250px;
  background-image: url(images/cedar_banner.png);
  background-size: cover;
}

section .media-icon {
  font-size: 40px;
}
